.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.todo-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(78, 55, 255);
}
